.page-not-found-container {
    width: 350px;
    height: 350px;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
    box-shadow: 0px 0px 5px 0px rgba(115, 115, 115, 1);
}

.form-page-not-found {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.title-page-not-found {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
}

.button-page-not-found-back {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991.98px) {
    #root {
        width: 670px;
    }
}
@media (max-width: 767.98px) {
    #root {
        width: 100%;
        margin: 0px 30px 0px 30px;
    }
    .page-not-found-container {
        width: 100%;
        margin-right: 0;
        flex-wrap: wrap;
    }
}
@media (max-width: 500.98px) {
    #root {
        width: 100%;
        margin: 0;
    }
}
